.test {
    width: 300px;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px 80px;
    color: #666666;
    background-color: #f4f4f4;
    font-size: 14px;
    border: 1px solid #dddddd;
    -webkit-border-radius: 4px;
}

.test2 {
    width: 900px;
    background-color: white;
    height: 600px;
    margin: 10px 20px auto;
}

.wrapper {
    display: inline-block;
    background: url(image/Other/点击添加图片.jpg);
    height: 180px;
    width: 240px;
    overflow: hidden;
    cursor: pointer
}

    .wrapper input {
        opacity: 0;
        height: 180px;
        width: 240px;
    }
